.c-sec {
    padding: 11px 0;

    &__namepage {
        border: 2px solid #000;
        background-color: rgb(109, 207, 246); 
        padding: 14px 21px;       
        text-transform: uppercase;
        height: 80px;
    }
    &__title{
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
    }
}

.c-sec1 {
    padding: 40px 0;
    position: relative;

    &__title {
        padding: 3px 0;
        height: 50px;
        background-color: rgb(188, 213, 225);
        width: 100%;
        color: #11638a;
        border-left: 7px solid rgb(17, 99, 138);
    }      
      
    &__text {
        margin: 5px 20px;
        font-size: 2.4rem;

    }

    &__content {
        padding: 21px 0;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-left: -1px;
    }

    &__content1 {
        line-height: 20px;
        padding: 30px 0 8px;
        margin-left: -1px;
    }

    &__link {
        color: #c40000;
    }

    &__textblue {
        font-size: 1.6rem;
        color: #11638a;
        font-weight: 500;
        

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f075";
            color: #11638a;
            font-weight: 900;
            font-size: 20px;
        }
    }

    &__textblack {
        padding: 7px 0;
        font-size: 1.5rem;
        font-weight: 500;
    }

    &__ref {
        border: 1px solid #11638a;
        border-radius: 5px;
        width: 100%;
    }

    &__quote {
        margin: 17px 25px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3;
        color: #11638a;
        height: 84px;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f10d";
            color: #11638a;
            font-weight: 900;
            font-size: 1.7rem;
        }        
    }
    &__quotebottom{
        margin-top: -1px;
        margin-left:1px;
        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f10e";
            color: #11638a;
            font-weight: 900;
            font-size: 1.7rem;
        }
    }
    &__quoteleft{
        margin-left: 1px;
    }
      

}

.c-sec2 {
    padding: 29px 0 94px;
    position: relative;

    &__title {
        padding: 3px 0;
        height: 50px;
        background-color: #ffe8e9;
        width: 100%;
        border-left: 7px solid #f5989d;
        color: #f5989d;
    }      
      
    &__text {
        margin: 5px 20px;
        font-size: 2.4rem;

    }

    &__first {
        padding: 22px 0 24px;
    }

    &__paragraph {
        padding: 1px 0 24px;
    }

    &__listing {
        counter-reset: section;
        line-height: 1.9;
        margin-top:4px;
    }

    &__four {
        padding: 15px 0 30px;
    }

    &__ref {
        border: 1px solid #11638a;
        border-radius: 5px;
        width: 100%;
    }

    &__paragraph2 {
        margin: 14px 0 33px;
        padding: 11px 26px;
        border: 1px solid #f5989d;
        border-radius: 5px;
    }
    &__pmiddle{
        margin-left: 1px;

    }
    &__pbottom{
        margin-left:2px;
    }

    &__paragraph3 {
        padding: 20px 0 10px;
    }

    &__fifth {
        margin-left: -3px;
        margin-top:2px
    }     

    &__paragraph4 {
        line-height: 1.6;
    } 
    &__red1 {
        color: #f5989d;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3;
        margin: 3px 0 0 0px;
    }
    
    &__left{
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f10d";
            color: #f5989d;
            font-weight: 900;
            font-size: 1.7rem;
        }
    }
    &__right{
        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f10e";
            color: #f5989d;
            font-weight: 900;
            font-size: 1.7rem;
        }
    }
}
.u-mt1{
    margin-top:1px;
}
.u-mt01{
    margin-top:-1px;
}



