.c-sec {
    padding: 13px 0;

    &__namepage {
        border: 2px solid #000;
        background-color: rgb(109, 207, 246);
        padding: 15px 21px;
        text-transform: uppercase;
        height: 80px;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: bold;
        text-align: center;
    }
}

.c-sec1 {
    padding: 37px 0;
    position: relative;

    &__title {
        padding: 3px 0;
        height: 50px;
        background-color: rgb(188, 213, 225);
        width: 100%;
        color: #11638a;
        border-left: 7px solid rgb(17, 99, 138);
    }      
      
    &__text {
        margin: 5px 20px;
        font-size: 2.4rem;

    }

    &__content {
        padding: 21px 0;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 2rem;
        margin-left: -1px;
        margin-top: 1px;
    }

    &__content1 {
        line-height: 20px;
        padding: 31px 0 6px;
        margin-left: -1px;
    }

    &__link {
        color: #c40000;
    }

    &__textblue {
        font-size: 1.6rem;
        color: #11638a;
        font-weight: 500;
        line-height: 0.9;
        margin: -1px 0 0 1px;
    }

    &__comment {
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f075";
            color: #11638a;
            font-weight: 900;
            font-size: 2rem;
        }
    }

    &__textblack {
        padding: 9px 0;
        font-size: 1.5rem;
        font-weight: 500;
        color: #222;
    }

    &__ref {
        border: 1px solid #11638a;
        border-radius: 5px;
        width: 100%;
        margin: 1px 0 0 -1px;
    }

    &__quote {
        margin: 18px 27px;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3;
        color: #11638a;
        height: 82px;

        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f10d";
            color: #11638a;
            font-weight: 900;
            font-size: 1.6rem;
        }        

        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f10e";
            color: #11638a;
            font-weight: 900;
            font-size: 1.6rem;
        }
    }
      

}

.c-sec2 {
    padding: 33px 0 94px;
    position: relative;

    &__title {
        padding: 3px 0;
        height: 50px;
        background-color: #ffe8e9;
        width: 100%;
        border-left: 7px solid #f5989d;
        color: #f5989d;
    }      
      
    &__text {
        margin: 5px 20px;
        font-size: 2.4rem;

    }

    &__first {
        padding: 22px 0 24px;
        margin-left: -1px;
    }

    &__paragraph {
        padding: 1px 0 23px;
        margin-left: -1px;
        margin-top: 0.5px;
    }

    &__listing {
        counter-reset: section;
        line-height: 2;
        margin-top: 3px;
    }

    &__four {
        padding: 18px 0 30px;
    }

    &__ref {
        border: 1px solid #11638a;
        border-radius: 5px;
        width: 100%;
    }

    &__paragraph2 {
        height: 99px;
        margin: 15px 0 33px -1px;
        padding: 20px 28px;
        border: 1px solid #f5989d;
        border-radius: 5px;
    }

    &__pmiddle {
        margin-left: 1px;

    }

    &__pbottom {
        margin-left: 2px;
    }

    &__paragraph3 {
        padding: 2px 0 9px;
        margin-left: -1px;
    }       

    &__paragraph4 {
        margin-top: 1px;
        margin-left: -1px;
    } 

    &__fifth {
        margin-top: 2px;
        margin-left: -1px;
    } 

    &__red {
        color: #f5989d;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.7;
    }

    &__red1 {
        color: #f5989d;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.3;
    }
    
    &__left {
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f10d";
            color: #f5989d;
            font-weight: 900;
            font-size: 1.5rem;
        }
    }

    &__right {
        &::after {
            font-family: "Font Awesome 5 Free";
            content: "\f10e";
            color: #f5989d;
            font-weight: 900;
            font-size: 1.5rem;
        }
    }
}

.u-mt1 {
    margin-top: 1px;
}




