/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-link2 {
    &__table {
        border-collapse: collapse;
        width: 100%;
    }

    &__tr {
        height: 36px;
    }

    &__td:first-child {
        background-color: rgb(235, 235, 235);
    }

    &__th,
    &__td {
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
        border: 1px solid #ccc;
        width: 27.5%;
        padding-bottom: 1px;
        color: #222;
    }

    &__th {
        background-color: #acd373;
        color: #fff;
    }

    &__td:first-child,
    &__th:first-child {
        width: 17.5%;
        padding-right: 4px;            
    }

    &__td:nth-child(2),
    &__th:nth-child(2) {
        padding-right: 5px;    
    }

    &__td:last-child,
    &__th:last-child {
        padding-left: 1px;    
    }
}

.c-table {
    border-collapse: collapse;
    width: 490px;
}

.c-tr {
    height: 36px;
}

.c-th,
.c-td {
    text-align: center;
    font-weight: 500;
    border: 1px solid #ccc;
    color: #222;
    padding-top: 2px;
}

.c-td:first-child {
    background-color: #ece6e6;
    width: 67px;

}

.c-tr:last-child .c-td:first-child {
    background-color: #6dcff6;
}

.c-th {
    background-color: #acd373;
    color: #fff;
}

.c-tablesecond {
    border-collapse: collapse;
    padding: 15px 0;
    font-weight: 500;
    text-align: center;
    margin-left: -1px;
}

.c-trsecond {
    height: 35px;
}

.c-trsecond1 {
    height: 37px;
}

.c-tdsecond {
    border: 1px solid #ccc;
    width: 141px;
    color: #222;
    padding-top: 2px;
}

.c-tdsecond:first-child {
    background-color: #d3d7d9;
    width: 67px;
}
  
