/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-link2 {
    &__table {
        border-collapse: collapse;
        width: 100%;
    }

    &__tr {
        height: 36px;
    }

    &__th,
    &__td {
        text-align: center;
        font-size: 14px;
        font-weight: 500;
        border: 1px solid #ddd;
        width: 27.5%;
    }

    &__th {
        background-color: #acd373;
        color: #fff;
    }

    &__td:first-child,
    &__th:first-child {
        width: 17.5%;        
    }    
}

.c-table {
    border-collapse: collapse;
    width: 490px;
    padding: 15px 0;
}

.c-tr {
    height: 36px;
}

.c-th,
.c-td {
    text-align: center;
    border: 1px solid #ddd;
}

.c-tr .c-td:first-child {
    background-color: ece6e6;
    width: 67px;
}

.c-tr:last-child .c-td:first-child {
    background-color: #6dcff6;
}

.c-th {
    background-color: #acd373;
    color: #fff;
    font-size: 14px;
}

.c-tablesecond {
    border-collapse: collapse;
    width: 490px;
    padding: 15px 0;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.c-trsecond {
    height: 36px;
}

.c-tdsecond {
    border: 1px solid #ddd;
}

.c-tdsecond:first-child {
    background-color: #ece6e6;
    width: 67px;
}
