/* Breadcrumb
------------------------------------------------------------*/
.c-breadcrumb {
    li {
        display: inline-block;

        &:first-child {            
            text-transform: uppercase;
            position: relative;
            padding-left: 20px;

            &::before {
                font-family: FontAwesome;
                content: "\e3af";
                color: #000;
                position: absolute;
                left: 0;
            }

            a {            
                text-decoration: underline;
            }
        }

        &::after {
            font-family: FontAwesome;
            content: "\f105";
            color: #000;
            margin: 0 4px;
        }

        &:last-child {
            &::after {
                font-family: FontAwesome;
                content: "";
                color: #000;  
            }

            a {
                text-decoration: none;
            }
        }
    }
    

    &__top {
        padding: 20px 0;
    }

    &__toplink2 {
        padding: 25px 0;
    }

    &__bottom {
        margin: 3px 0;
    }
    &__bottom2 {
        margin: 7px 0;
    }

    &__footer {
        height: 35px;
        border: 1px solid rgb(204, 204, 204);
        border-left: unset;
        border-right: unset;
    }
}
  
