/* Header
------------------------------------------------------------*/
.c-header {    
    
    background: rgba(255, 255, 255, 0.9);

    &__main {  
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #a8a8a8;
        height: 90px;
    }
}
/* Main menu
------------------------------------------------------------*/
.c-gnav {
    font-weight: 500;
    line-height: 3;

    li {
        display: inline-block;

        + li{
            margin-left: 28px;
        }
    }

    a {
        text-transform: capitalize;
    }
}

.is-active {
    font-weight: bold;
    line-height: 3;
}
