/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;

    @include sp {
        min-width: 320px;
    }
}

//-------------------------------------------------------
main {
    //padding: 0 0 100px;
}

section {
    //padding: 0 0 100px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
    padding: 0 100px;
}

//-------------------------------------------------------


.c-mainvisual {
    padding: 15px 0;

    &__bg {
        position: relative;
        height: 360px;
        background: url("/~aglstaff/trandiepthanhthanh/task01/assets/img/bg-banner.jpg") no-repeat center;
        background-size: cover;
        color: #000;
    }

    &__inner {
        position: absolute;
        text-align: left;
        width: 400px;
        bottom: 24px;
        left: 40px;
    }

    &__text {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        color: rgb(34, 34, 34);
        line-height: 1.5;
        margin: 9px 0;

    }

    &__btn {
        margin: 12px 0;
    }

    //==================
    &--subpage {
        height: 300px;

        h2 {
            font-size: 5rem;
        }
    }
}

.c-title {
    height: 50px;
    font-size: 24px;
    font-weight: bold;
    margin: 2px 0;

    &__news {
        background-color: rgb(255, 249, 218);
        border: 2px solid #ffd800;
        border-left-width: 5px;
        border-left-color: rgb(255, 216, 0);
        font-size: 24px;
        padding: 0 20px;
    }

    &__feature {
        background-color: rgb(255, 242, 242);
        border: 2px solid rgb(246, 142, 86);
        border-left-width: 5px;
        padding: 0 20px;
        font-size: 24px;
    }

    &__blog {
        background-color: rgb(235, 235, 235);
        border: 2px solid rgb(109, 207, 246);
        border-left-width: 5px;
        padding: 0 20px;
        font-size: 24px;
    }
}

.c-news {
    position: relative;
    padding: 25px 0 50px;

    &__item {
        display: flex;
        padding: 30px 0 0;
        column-gap: 40px;
    }

    &__col1 {
        width: 35%;
        position: relative;

        a {
            position: absolute;
            top: 0;
            left: 0;
            padding: 1px 21px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__col2 {
        width: 61%;
        position: relative;
        height: 190px;


        button {
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 150px;
            height: 50px;
            border: 0;
            color: #fff;
            font-size: 15px;
            font-weight: 700;
            background-color: #afafaf;
        }

    }

    &__disc {
        line-height: 1.4;
        font-size: 14px;
        margin: 12px 0;
    }


    &__title1 {
        font-size: 16px;
        font-weight: bold;
        margin: -8px -0;
    }

    &__view {
        position: relative;
        padding-top: 126px;
    }
}

.c-feature {
    position: relative;
    padding: 66px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5%;
        padding-bottom: 54px;
    }

    &__item {
        display: block;
        width: 30%;
        padding: 30px 0 3px;
    }

    &__disc {
        padding: 5px 0;
    }

    &__disc1 {
        padding: 5px 0;
    }

    &__title {
        padding: 10px 0;

        a {
            padding: 5px 22px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        margin: 8px 0;
    }

    &__text1 {
        font-size: 14px;
        font-weight: 500;
        margin: 6px 0;
        line-height: 22px;
    }

    &__view {
        position: relative;
        padding-top: 50px;
    }
}

.c-blog {
    position: relative;
    padding: 50px 0 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5%;
    }

    &__item {
        display: block;
        width: 47.5%;
        padding: 30px 0 15px;
    }

    &__title {
        padding: 15px 0;

        a {
            padding: 5px 22px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }



    &__text {
        line-height: 1.4;
        margin: 2px 0;
    }

    &__view {
        padding-top: 30px;
    }
}

.c-filter {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 5%;
    padding-bottom: 40px;

    &__btn {
        position: relative;
        display: block;
        width: 30%;
        margin: 16px 0;
        padding: 6px 0;
        text-align: center;
        border-radius: 5px;
        background-color: rgb(0, 174, 239);

        &::before {
            font-family: FontAwesome;
            content: "\f107";
            color: #fff;
            position: absolute;
            left: 0;
            top: 0;
            margin: 5px 0 0 91px;

        }
        
    }    

    &__text {
        color: #fff;
        font-size: 16px;
        padding-left: 12px;
    }
}

.c-link1 {
    position: relative;

    &__title {
        border-bottom: 2px solid #afafaf;    
    } 

    &__text {
        text-transform: uppercase;
        color: #000;
        padding: 3px 0;
        font-size: 18px;
    }
}

.c-link2 {
    position: relative;

    &__title {
        border-bottom: 2px solid #afafaf;        
    }

    &__text {
        text-transform: uppercase;
        color: #000;
        padding: 3px 0;
        font-size: 18px;
    }
}

.c-link3 {
    position: relative;

    &__title {
        border-bottom: 2px solid #afafaf;        
    }

    &__text {
        text-transform: uppercase;
        color: #000;
        padding: 3px 0;
        font-size: 18px;
    }
}

.c-about {
    position: relative;
    padding: 23px 0 10px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
    }

    &__item {
        display: block;
        width: 30%;
        padding: 12px 0 29px;
    }

    &__link {
        font-size: 14px;
        text-align: center;
        color: rgb(31, 83, 250);
        text-decoration: underline;
    }
      
    &__title {
        padding: 16px 0;

        a {
            padding: 7px 22px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__title1 {
        padding: 16px 0;

        a {
            padding: 7px 21px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        margin: 3px 0;
    }

}

.c-about1 {
    position: relative;
    padding: 23px 0 37px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 20px;
    }

    &__item {
        display: block;
        width: 23.5%;
        padding: 7px 0 5px;
    }

    &__link {
        font-size: 14px;
        text-align: center;
        color: rgb(31, 83, 250);
        text-decoration: underline;
    }
      
    &__title {
        padding: 16px 0;

        a {
            padding: 6px 21px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__title1 {
        padding: 16px 0;

        a {
            padding: 6px 20px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__title2 {
        padding: 16px 0;

        a {
            padding: 6px 22px;
            font-size: 14px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__text {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        margin: 3px 0;
    }

    &__text1 {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.4;
        margin: 3px 0 0 -2px;
    }

}

.c-about2 {
    position: relative;
    padding-bottom: 59px;

    &__title,
    &__title1 {
        position: relative;
        margin: 30px 0 20px;
        background-color: rgb(236, 230, 230);
        width: 100%;
        height: 40px;        
    }

    &__ctitle {
        font-size: 16px;
        position: absolute;
        left: 0;
        padding-left: 13px;
        top: 2px;
    }

    &__ctitle1 {
        font-size: 16px;
        position: absolute;
        left: 0;
        padding-left: 16px;
        top: 4px;
    }

    &__disc {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 15px;
    } 

    &__link {
        font-size: 14px;
        text-align: center;
        color: #f00;
        text-decoration: underline;
    }

    &__link1 {
        font-size: 14px;
        text-align: center;
        color: #ff9c00;
        text-decoration: underline;
    }

    &__table {
        padding-bottom: 20px;        
    }

    &__tablesecond {
        padding-bottom: 50px;        
    }

}

