/* layout
------------------------------------------------------------*/
body {
    font-family: $main-fonts;
    font-size: 1.4rem;
    min-width: $base-width;
    line-height: 1.5;

    @include sp {
        min-width: 320px;
    }
}

//-------------------------------------------------------
main {
    //padding: 0 0 100px;
}

section {
    //padding: 0 0 100px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
    padding: 0 100px;
}

//-------------------------------------------------------


.c-mainvisual {
    padding: 15px 0 14px;

    &__titlepage {
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.5;
        color: #222;
    }
    
      
    &__bg {
        position: relative;
        height: 360px;
        background: url("../img/bg-banner.jpg") no-repeat center;
        background-size: cover;
    }

    &__inner {
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: left;
        width: 402px;
        top: 220px;
        left: 40px;
    }

    &__btn {
        margin-bottom: 14px;
        line-height: 2.1;
    }
}

.c-title {
    height: 50px;
    margin: 4px 0 1px;

    &__news {
        background-color: rgb(255, 249, 218);
        border: 1px solid #ffd800;
        border-left-width: 7px;
        border-left-color: rgb(255, 216, 0);
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2;
        padding: 0 20px;
    }

    &__feature {
        background-color: rgb(255, 242, 242);
        border: 1px solid rgb(246, 142, 86);
        border-left-width: 7px;
        padding: 0 20px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2;
        margin: 5px 0 0;
    }

    &__blog {
        background-color: rgb(235, 235, 235);
        border: 1px solid rgb(109, 207, 246);
        border-left-width: 7px;
        padding: 0 20px;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 2;
    }
}

.c-news {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    padding: 25px 0 60px;
      
    &__item {
        display: flex;
        padding: 30px 0 0;
        column-gap: 40px;
    }

    &__item:hover {
        opacity: 0.7;
    }

    &__col1 {
        width: 35%;
        position: relative;
        margin-top: -1px;        
    }

    &__cat {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
        line-height: 2.2;
        width: 112px;
        height: 30px;
    }

    &__col2 {
        width: 61%;
        position: relative;
        height: 190px;    

    }

    &__link {
        border-radius: 5px;
        position: absolute;
        bottom: 3px;
        right: 1px;
        width: 150px;
        height: 50px;
        border: 0;
        color: #fff;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: #afafaf;
        text-align: center;
        line-height: 3.5;
    }

    &__disc {
        line-height: 1.4;
        font-weight: 500;
        margin-top: 5px;
    }

    &__discbottom {
        transform: translateY(-4px);
    }

    &__discbottom1 {
        transform: translateY(-9px);
    }

    &__discbottom2 {
        transform: translateY(-13px);
    }


    &__title1 {
        font-size: 1.6rem;
        font-weight: bold;
        margin-top: -9px;
    }

    &__view {
        position: relative;
        padding-top: 125px;
    }
}

.c-feature {
    position: relative;
    width: $base-width;
    margin: 0 auto;
    padding: 55px 100px;
    background-color: rgb(250, 250, 250);

    &__tag {
        padding: 6px 23px;
        font-size: 1.4rem;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }

    &__tag1 {
        padding: 6px 22px;
        font-size: 1.4rem;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }

    &__btnview {
        display: block;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5%;
        padding-bottom: 54px;
    }

    &__item {
        display: block;
        width: 30%;
        padding: 29px 0 3px;
    }
    &__item:hover {opacity: 0.7;}

    &__disc {
        padding: 5px 0;
    }

    &__disc1 {
        padding: 5px 0;
    }

    &__title {
        padding: 11px 0 10px;        
    }

    &__text {
        font-size: 1.4rem;
        font-weight: 500;
        line-height: 1.4;
        margin: 8px 0;
    }
    
    &__view {
        position: relative;
        padding-top: 49px;
    }
}

.c-blog {
    position: relative;
    padding: 61px 0 59px;
    width: 1000px;
    margin: 0 auto;

    &__btnview {
        display: block;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 5%;
    }

    &__item:hover {
        opacity: 0.7;
    }

    &__item {
        display: block;
        width: 47.5%;
        padding: 29px 0 16px;
    }

    &__title {
        padding: 16px 0;        
    }

    &__cat {
        padding: 6px 22px;
        font-size: 1.4rem;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }

    &__text {
        line-height: 1.4;
        margin-top: 2.5px;
        font-size: 1.4rem;
        font-weight: 500;
    }

    &__view {
        padding-top: 28px;
    }
}

.c-filter {
    display: flex;
    justify-content: space-between;
    padding-bottom: 56px;
    margin-top: 14px;

    &__btn {
        position: relative;
        width: 300px;
        height: 45px;
        line-height: 2.7;
        text-align: center;
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
        border-radius: 5px;
        background-color: rgb(0, 174, 239);
        margin-left: -2px;
        
    }    

    &__icon {
        &::before {
            font-family: "Font Awesome 5 Free";
            content: "\f107";
            color: #fff;
            font-weight: 900;
            font-size: 1.6rem;
        }
    }
}

.c-link1 {
    position: relative;

    &__title {
        height: 45px;
        border-bottom: 2px solid rgb(204, 204, 204);    
    } 

    &__text {
        text-transform: uppercase;
        color: rgb(34, 34, 34);
        line-height: 2.4;
        margin-left: -1.2px;
        font-size: 1.8rem;
    }
}

.c-link2 {
    position: relative;

    &__title {
        height: 47px;
        border-bottom: 2px solid #afafaf;        
    }

    &__text {
        text-transform: uppercase;
        color: rgb(34, 34, 34);
        padding: 3px 0;
        font-size: 1.8rem;
        line-height: 2.3;
        margin-left: -1px;
    }
}

.c-link3 {
    position: relative;

    &__title {
        border-bottom: 2px solid #afafaf;        
    }

    &__text {
        text-transform: uppercase;
        color: rgb(34, 34, 34);
        padding: 3px 0;
        font-size: 1.8rem;
        line-height: 1.9;
    }
}

.c-about {
    position: relative;
    padding: 23px 0 10px;

    &__info {
        font-weight: 500;
        line-height: 1.9;
        margin-left: -1px;
    }

    &__disc {
        font-weight: 500;
        line-height: 1.9;
        margin-left: -1px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 50px;
    }

    &__item {
        display: block;
        width: 30%;
        padding: 13px 0 28px;
    }

    &__item:hover {
        opacity: 0.7;
    }

    &__link {
        text-align: center;
        color: rgb(31, 83, 250);
        text-decoration: underline;
        text-underline-offset: 2px;
    }
      
    &__title {
        padding: 17px 0 16px;        
    }

    &__tag {
        padding: 6px 22.5px;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }

    &__tag1 {
        padding: 6px 21.5px;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }
    &__tag2 {
        padding: 6px 21.5px;
        text-align: center;
        color: rgb(34, 34, 34);
        font-weight: 500;
    }

    &__text {
        font-weight: 500;
        line-height: 1.4;
        margin: 3px 0 3px 1px;
    }

}

.c-about1 {
    position: relative;
    padding: 23px 0 37px;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item:hover {
        opacity: 0.7;
    }

    &__item {
        display: block;
        width: 23.5%;
        padding: 7px 0 8px;
    }

    &__link {
        text-align: center;
        color: rgb(31, 83, 250);
        text-decoration: underline;
    }
      
    &__title {
        padding: 17px 0 16px;         
    }

    &__tag {
        padding: 6px 23px;
        text-align: center;
        font-weight: 500;
        line-height: 1.4;
    }

    &__title1 {
        padding: 16px 0 15px;        
    }

    &__tag1 {
        padding: 6px 22px;
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
        margin-left: -2px;
    }

    &__tag2 {
        padding: 6px 22.5px;
        text-align: center;
        font-weight: 500;
        line-height: 1.3;
        margin-left: -1px;
    }

    &__title2 {
        padding: 16px 0;

        a {
            padding: 6px 22px;
            text-align: center;
            color: rgb(34, 34, 34);
            font-weight: 400;
        }
    }

    &__text {
        font-weight: 500;
        line-height: 1.5;
    }

    &__text1 {
        font-weight: 500;
        line-height: 1.4;
        margin: 3px 0 0 -1px;
    }

    &__text2 {
        font-weight: 500;
        line-height: 1.4;
        margin: 3px 0 0 -2px;
    }

}

.c-about2 {
    position: relative;
    padding-bottom: 59px;

    &__title {
        position: relative;
        margin: 30px 0 21px;
        background-color: rgb(236, 230, 230);
        width: 100%;
        height: 40px;
        line-height: 1.4;    
    }

    &__ctitle {
        font-size: 1.6rem;
        position: absolute;
        left: 0;
        padding-left: 14px;
        top: 10px;
    }

    &__ctitle1 {
        font-size: 1.6rem;
        position: absolute;
        left: 0;
        padding-left: 15px;
        top: 9px;
    }

    &__disc {
        line-height: 1.5;
        font-weight: 500;
        padding-bottom: 14px;
        margin-left: -1px;
    } 

    &__disc1 {
        line-height: 1.4;
        font-weight: 500;
        padding-bottom: 15px;
        margin-left: 1px;
    } 

    &__link {
        text-align: center;
        color: #f00;
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    &__link1 {
        text-align: center;
        color: #ff9c00;
        text-decoration: underline;
        text-underline-offset: 2px;
    }

    &__table {
        padding-bottom: 20px;
        margin-left: -1px;
    }

    &__tablesecond {
        padding-bottom: 50px;        
    }

}

